/* Import Roboto font from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Roboto, sans-serif;
    overflow-x: hidden;
    
}

h1, h3{
    font-weight: 100;
}

.container-all {
    background-image: url("https://cdn.spacetelescope.org/archives/images/wallpaper1/opo0124a.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: unset;
    height: fit-content;
    color: rgb(229, 226, 226);
}
.overlay {
    background-image: linear-gradient(black, transparent);
    height: fit-content;
}
.overlay-reverse {
    background-image: linear-gradient(transparent, black);
    height: fit-content;

}
.container-header-clearfix {
    height: 10vh;
    width: 100%;
    padding: 1em;
}
.container-header {
    position: fixed;
    top: 0rem;
    z-index: 100;
    background-color: black;
    height: 10vh;
    width: 100%;
    display: flex; 
    justify-content: space-between; 
    padding: 1em;
    color: rgb(229, 226, 226);
}
.logo {
    font-size: 2em;
    font-weight: 700;
}
.menu-btn i {
    font-size: 2em;
    cursor: pointer;
    font-weight: 700;
}
container-main {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box {
    margin: 1em;
    padding: 1.5em;
    border: 1px solid rgb(82, 81, 81);
    text-align: center;
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box h3 {
    text-align: center;
}
.box ul {
    justify-self: center;
}
.box li {
    list-style-type: disc;
    text-align: start;
    margin-left: 4em;
    margin-right: 2em;
}
.box:last-of-type{
    margin-bottom: 0;
}

.pic {
    width: 100vw;
}

.container-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: rgb(229, 226, 226);
    height: 8.3vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    background-color: black;
}
.container-footer-clearfix {
    height: 3em;
    width: 100%;
}

.slide-menu{
    position: fixed;
    top: 90px;
    right: 0px;
    width: 50%;
    background-image: linear-gradient(black,black);
    height: fit-content;
    padding: 1em;
    visibility: hidden;
}


.slide-menu li {
    list-style-type: none;
    padding: 1em;
}

.slide-menu a {
    text-decoration: none;
    color: rgb(229, 226, 226);
}
.list-items li{
    list-style: none;
}

@media screen and (min-width:900px) {
    
    .box {
        width: 50vw;
        margin: 1em auto;
        justify-self: center;
        align-self: center;
    }
    .box ul li {
        align-self: center;
    }
    .slide-menu {
        width: 20%;
    }

}